<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="Layer2" style="position:absolute; left:13px; top:184px; width:380px; height:429px; z-index:2; background-color: #B5B9E1; layer-background-color: #B5B9E1; border: 1px none #000000;">
  <p class="Number">[[captions.1]]</p>
  <p align="justify" class="text">[[intro.blurb.1]]</p>
  <p class="text">[[intro.blurb.2]]</p>
  <p class="text">[[intro.blurb.3]]</p>
</div>
<div id="Layer3" style="position:absolute; left:399px; top:446px; width:359px; height:168px; z-index:3; background-color: #99CCCC; layer-background-color: #99CCCC; border: 1px none #000000;"> 
  <p class="Number">[[captions.2]]</p>
  <p class="text">[[source.blurb]]</p>
  <p class="text">
  ([[links.1]])<a href="examples/[[links.1.link]]">[[links.1.caption]]</a>
  ([[links.2]])<a href="examples/[[links.2.link]]">[[links.2.caption]]</a>
  ([[links.3]])<a href="examples/[[links.3.link]]">[[links.3.caption]]</a>
  ([[links.4]])<a href="examples/[[links.4.link]]">[[links.4.caption]]</a>
  ([[links.5]])<a href="examples/[[links.5.link]]">[[links.5.caption]]</a>
  ([[links.6]])<a href="examples/[[links.6.link]]">[[links.6.caption]]</a>
  ([[links.7]])<a href="examples/[[links.7.link]]">[[links.7.caption]]</a>
  ([[links.8]])<a href="examples/[[links.8.link]]">[[links.8.caption]]</a>
  </p>
</div>
<div id="Layer4" style="position:absolute; left:399px; top:183px; width:351px; height:260px; z-index:4; background-color: #FFFFCC; layer-background-color: #FFFFCC; border: 1px none #000000;"> 
  <p class="Number">[[captions.3]]</p>
  <p class="text"><font size = -1>[[copyright.blurb]]</font></p>
</div>
<div id="Layer1" style="position:absolute; left:13px; top:36px; width:730px; height:143px; z-index:5; background-color: #D7DFFB; layer-background-color: #D7DFFB; border: 1px none #000000;"> 
  <p class="Number">[[captions.welcome]]</p>
  <p align="justify" class="text">[[welcome.blurb]]</p>
</div>
<p class="text">&nbsp;</p>
</body>
</html>
